@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
    display: flex;
    justify-content: center;
    /* background: #ff9933; */
    font: 15px;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}
.container{
    width: 430px;
    background-color: rgba(255, 255, 255, 0.719);
    border: 1px solid gray;
    box-shadow: 2px 3px 25px gray;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
    padding: 15px 20px;
}
form{
    text-align: center;
    padding: 53px 25px;
}
.input-div{
	position: relative;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
    left: 10px;
    top: 0%;
	transform: translateY(-50%);
	color: #999;
	font-size: 15px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #ff8b0f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -15px;
	font-size: 15px;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 0.8rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}
.link{
    text-align: center;
    margin-top: 5px;
}

.verify{
    display: block;
    width: 100%;
    border: none;
    text-decoration: none;
    margin: 10px auto;
    font-size: 0.9rem;
    padding: 12px 10px;
    color: #fff;
    background: #ff8b0f;
    border-radius: 5px;
    transition: 0.8s all ease-in;
}

.verify:hover{
    cursor: pointer;
    box-shadow: 3px 4px 3px gray;
    
}
.sub{
    background: #fff;
    padding: 8px 24px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sub:hover{
    cursor: pointer;
    background: #fff;
}
@media only screen and (max-width: 400px) {
  .container{
      width: 100%;
      padding: 2px 3px;
  }
}