/* import fonts from fonts.css file */ 
@import url(./fonts.css);

/* box */ 
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html{
	scroll-behavior: smooth;
  }
  
  ::selection{
	border-radius: 80px;
	background-color: #fd5f03e0;
  }
  
  ::-webkit-scrollbar{
	border-radius: 80px;
	width: 10px;
	background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb{
	border-radius: 80px;
	background-color: #fd5f03de;
  }

body{
    margin: 0;
    padding: 0;
    background: url(/img/images/clgstatics.jpg);
    background-repeat: no-repeat;
    background-size: 800px 800px;
    background-position: center;
    font: normal 200 20px;
    font-family: 'Open Sans',sans-serif;
}