

 .nav{
    display: none;
}
/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-us-area .subscribe .subscribe-title,
    .site-main .subscribe-us-area .subscribe .subscribe-title p, h4,
    .site-main .services-area,
    .site-main .subscribe-us-area .subscribe
    {
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }

    .site-main .subscribe-us-area .subscribe form .input-textbox input{
        width: 15rem    !important;
    }

    .site-main > .services-area .services{
        width: 13rem;
    }

}


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 792px){
    .site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }
    main{
        width: 100%;
        overflow-x: hidden;
    }
    .header_area .main-menu .navbar .navbar-brand{
        padding:0 2rem 0 2rem;
    }

    .site-main .brand-area .experience-area .years-area{
        padding-left: 1%;
        width: 49%;
    }

    .site-main .brand-area .experience-area .bg-panel{
        margin-left: 30%;
        width: 80%;   
    }

    .site-main .brand-area .experience-area .call-area{
        padding-left: 3%;
    }

    .site-main .project-area .button-group button{
        font: normal 500 18px/40px var(--roboto);
    }

    .site-main .about-area .about-title p{
        padding: 0%;
    }

    .site-main .subscribe-us-area .subscribe form .input-textbox input{
        width: 20rem;
        margin: 5%;
    }
}



/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area{
        padding: 3% 4%;
    }


}

/* For nav box */
@media screen and (max-width: 1050px){
    .wrapper1{
      display: none;
    }
    .row{
        display: block;
    }
.col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 97%;
}

    .wrapper{
        right: 5%;
        top: 80%;
      }

      .nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        left: 0px;
        /* border-radius: 40px; */
        box-shadow: 0 0 3px #00000033;
        background-color: #fff;
        border-top: 1px gray;
        /* background: linear-gradient(to right, #ffffff,#dadada,#e0e1e3,#ffffff ); */
        display: flex;
        text-decoration: none;
        overflow-x: auto;
        z-index: 5;
    }
    
    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        min-width: 50px;
        overflow: hidden;
        white-space: nowrap;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: 500!important;
        color: #444444;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        transition: background-color 0.1s ease-in-out;
    }
    
    .nav__link:hover {
        background-color: #282627;
        color: #ffffff;
    }
    
    .nav__link--active {
        color: #ff8400;
    }
    
    .nav__icon {
        font-size: 18px;
    }

    .navbar_fixed{
        background: linear-gradient(to right, #FFFFFF, #f3efef)!important;
      }

    .img-fluid1{
        max-width:100%;
        height: -1%;
        }

        .btn6{
            margin-top: 15%!important;
            left: 62%;
            display: inline-block;
            width: 60px;
            height: 60px;
            background: transparent;
            margin: 10px;
            color: #4e4e4e;
            overflow: hidden;
            position: relative;
          }

  #filter-list a{
    display: flex;
    text-decoration: none!important;
    align-items: center;
    justify-content: center;
}

#filter-list li {
    line-break: strict;
    display: inline-block;
    font: normal 500 10px/2px var(--roboto);
    font-size: 15px!important;
    margin: 1px;
    text-transform: uppercase;
    text-decoration: none!important;
    color: gray;
     text-align: center;
    border-radius: 25px;
    font-weight: 500;
    padding: 0 10px;
    min-width: 127px;
    line-height: normal;

}

#filter-list li:hover{
    color: #fff;
    background-color: #ff7e05;
    }

    
 #filter-list{
    display: flex !important;
    background-color: #00000012;
    border-radius: 5px;
    height: 120px;
    border:0px transparent;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .btn i {
    line-height: 22px;
    font-size: 15px;
  }
  .btn {
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  #filter-list li{
      display: flex;
      font-size: 26px;
      color: #fb7d07;
      text-transform: uppercase;
    line-height: 20px;
      text-align: center;
      border-radius: 25px;
      font-weight: 800;
      padding: 0 10px;
      cursor: pointer;
      -webkit-transition:all 0.3s ease-in-out;
      -ms-transition:all 0.3s ease-in-out;
      -moz-transition:all 0.3s ease-in-out;
      transition:all 0.3s ease-in-out;
  }
  #filter-list li.active,
  #filter-list li:hover{
      background-color: transparent;
      color: #282627;
      animation: rubberBand 1s;
  }
  .btn5{
    width: 50px;
    height: 52px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes rubberBand{
    0%{
        transform: scale3d(1,1,1);
    }
    35%{
        transform: scale3d(1.25,.75,1);
    }
    45%{
        transform: scale3d(.75,1,1);
    }
    60%{
        transform: scale3d(1.2,.8,1);
    }
    75%{
        transform: scale3d(1.05,.95,1);
    }
    100%{
        transform: scale3d(1,1,1); 
    }
  }
}